@import 'vars';



.filter-settings_btn{
    border: 1px solid rgba(0,0,0,.2); 
    border-radius: 5px; 
    height: inherit;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 40px;
    }
}

.filter-settings{
    width: 8%;
}

.filter-expanse{
    height: 0px;
    overflow: hidden;
    transition: all ease-out 300ms;
    align-items: baseline;
    align-content: flex-start;
}

.filter-expanse_opened{
    height: 500px;
}




@media (max-width: 800px) {
    .filter-category{
        width: 35%;
    }

    .filter-settings{
    width: 80px;
    }

    .filter-places{
        width: 50%;
    }

    .filter {
        justify-content: left;
    }

    .filter-expanse_opened{
        height: 900px;
    }
}

@media(max-width: 480px){
    .filter-category{
    width: 85%;
    }

    .filter-places{
        width: 85%;
    }

    .filter-settings {
        width: 15%;
    }

}
@media(max-width: 350px){
    .filter-settings {
        width: 15%;
    }

    .filter-places{
        width: 85%;
    }
}