@import 'vars';

.footer {
    padding: 40px;
    font-size: 15px;
    color: white;
    font-weight: 400;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: var(--black);

    a {
        text-decoration: none;
        color: white;
        font-weight: 200;
    }

    img {
        height: 30px;
        filter: drop-shadow(2px 4px 6px black);
    }
}

.footer-title {
    font-weight: bold;
}

