@import 'vars';

.footer{
    padding: 40px;
    font-size: 15px;
    color: white;
    font-weight: 400;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: var(--black);

    img{
        height: 50px;
        filter: drop-shadow(2px 4px 6px black);
        }
}

.footer-title{
    border-bottom: 3px solid rgba(255,255,255,.1);
    font-weight: bold;
}

.footer-follow{

}