body {
    background: rgba(0, 0, 0, .04);
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
    width: calc(100vw - 110px);
    overflow-x: hidden;
    box-sizing: border-box;
}

.layout{
    padding-bottom: 150px;
}

.layout::-webkit-scrollbar {
    -webkit-appearance: none;
}

.layout::-webkit-scrollbar:vertical {
    width: 5px;
}

.layout::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.layout::-webkit-scrollbar:horizontal {
    height: 5px;
}

.layout::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: none;
}

.layout::-webkit-scrollbar-track {
    border-radius: 10px;
}


label {
    color: rgba(0, 0, 0, 1);
}

.swal-text {
    text-align: center !important;
}

@media(max-width: 800px){
    body {
        width: 100vw;
    }

    .layout{
        padding-top: 100px;
    }
}