@import 'vars';

.header {
	box-shadow: 0px 0px 10px -2px;
	background: rgba(255,255,255,.2);
	position: fixed;
	height: 100vh !important;
	width: 110px;
	top: 0;
	right: 0;
	box-sizing: border-box;
	z-index: 10000;
	align-items: center;
	border-bottom: 1px solid rgba(255,255,255,.3);
	justify-content: center;
}

.header-logo {
	position: absolute;
	top: 10px;
	z-index: 10;

	img {
		height: 90px;
	}
}


.header-nav-open{
	right: 90px !important;
}


@media (max-width: 780px) {
	.header {
		position: fixed;
		height: 100px !important;
		width: 100vw;
		align-items: center;
		justify-content: start;
		padding-left: 10px;
	}

	.header-logo {
		top: 5px;
		right: 10px;
	}

	.header-nav-open{
		right: 0px !important;
	}
}