@import 'vars';


.home{
    // background: rgba(0,0,0,.8);
    height: 80vh;
    color: white;
    background-image: url(../assets//icons/bg.jpg);
    background-size: cover;
    position: relative;
}

.home-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .1);
}