@import 'vars';

.product {
    height: 400px;
}


@media(max-width: 1100px) {

    .product {
        height: 400px;
    }
}

@media(max-width: 800px) {

    .product {
        height: 400px;
    }
}

@media(max-width: 500px) {

    .product {
        height: 250px;
    }
}

@media(max-width: 400px) {

    .product {
        height: 232px;
    }
}