@import 'vars';

.product-item {
    position: relative;
    width: 440px;
    height: 340px;
    background-size: cover;
    border-radius: 3px;
    margin: 1rem;
}

.product-item_info{
    z-index: 10;
    color: white;
    position: absolute;
    bottom: -10px;
    padding: 15px 10px;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 80%);
    width: inherit;
    box-sizing: border-box;
    backdrop-filter: brightness(0.8);
}

@media(max-width: 1100px){
    .product-item {
        width: 300px;
    }
}

@media(max-width: 800px){
    .product-item {
        width: 320px;
    }
}

@media(max-width: 480px){
    .product-item {
        width: 360px;
    }
}


@media(max-width: 390px){
    .product-item {
        width: 320px;
    }
}


@media(max-width: 350px){
    .product-item {
        width: 280px;
    }
}